<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<% include menu %>
		<h1><%= title></h1>
		<p>Fill in the form below to add a new post.</p>
		<% include messages %>
		<form action='/post' method='post'>
			<p>
				<input type='text' name='entry[name]' placeholder='Name' />
			</p>
			<p>
				<input type='text' name='entry[field]' placeholder='Filed' />
				<select>
					<option value='int'>Integer</option>
					<option value='int'>Integer</option>
					<option value='date'>Date</option>
					<option value='int'>Integer</option>
					<option value='int'>Integer</option>
				</select>
			</p>
			<p>
				<input type='radio' name='access' value='public' checked>Public<br>
				<input type='radio' name='access' value='public'>Private
			</p>
			<p>
				<input type='submit' value='Create' />
				<a href="/">
  					<input type="button" value="Cancel" />
				</a>
			</p>
		</form>
	</body>
</html>